
    <div class="album py-5 bg-light">
        <div class="container">

    <div class="b-example-divider"></div>

    <button type="button" class="btn btn-secondary" (click)="categoryAction()">Jugueteria</button>&nbsp;
    <button type="button" class="btn btn-secondary" (click)="categoryAction()">Mundo Bebé</button>&nbsp; 
    <button type="button" class="btn btn-secondary" (click)="categoryAction()">Televisión</button>&nbsp;
    <button type="button" class="btn btn-secondary" (click)="categoryAction()">VideoJuegos</button>&nbsp;
    <button type="button" class="btn btn-secondary" (click)="categoryAction()">Telefonía</button>&nbsp;
    <button type="button" class="btn btn-secondary" (click)="categoryAction()">Computación</button>&nbsp;
    <button type="button" class="btn btn-secondary" (click)="categoryAction()">Refrigeración</button>&nbsp; 
    <button type="button" class="btn btn-secondary" (click)="categoryAction()">Electrodomesticos</button>
    <div class="b-example-divider"></div>
    <div class="b-example-divider"></div>
</div>

</div>